*{
    box-sizing: border-box;
    margin: 0;
    padding :0;
}
/* Style du main */
.main-body {
    background-color: #FFEDD8;
    padding : 2em;
   
}

/* Style du box-promo */
.box-promo {
    background-color: #e7bc91;
    width: 100%;
    border-radius: 2em;
    margin : 2em;
    padding:1em;
    outline: 6px solid #603808;
    outline-offset: -20px;

   
}

/* Style 2e box avec bordure marron */
.container-custom {
    background-color: #e7bc91 !important;
    border: 0.4em solid #603808 !important;
    border-radius: 1em !important;
    padding-right: 0 !important;
    padding-left: 0 !important;

}



/* titre Promo */
.text-promo h2{
    font-family: 'Abril Fatface', serif;
    font-size: 3em;
    padding-left : 0.5em;
    width: 100%;
    color: var(--darkbrown);
}

/* Style des cartes */


/* Style de la carte individuelle */
.card {

    width: 100% !important;
    margin: 0  !important;
 
    padding: 2em !important;
    border: 0.1em solid #603808 !important;
/*     background-color: #e7bc91 !important; */    

background: rgba( 231, 188, 145, 0.25 ) !important;
box-shadow: 0 4px 30px 0 #bc8a5f !important;
backdrop-filter: blur( 9px ) !important;
-webkit-backdrop-filter: blur( 9px ) !important;
border-radius: 10px !important;
border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;



}
/* Style pour l'onglet promo */
.card-img-top{
    position : relative;
}
.image-promo {
    width: 30%;
    height: auto; 
    position:absolute; 
    right:2em;
    z-index: 1; 
}

/* Style du bouton dans la carte */
.card-body .btn {
    background-color: #BC8A5F !important;
    border: 0.1em solid #603808 !important;
    color: #603808 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    display: flex;
    justify-content: center;
}


.card-body .btn:hover {
    background-color: #BC8A5F !important;
    border: 0.1em solid #603808 !important;
    color: #e7bc91 !important;
    box-shadow: 0 9px 16px rgba(0, 0, 0, 0.1) !important;
    display: flex;
    justify-content: center;
}

.hr {
    border: none !important;
    width: 50% !important;
    height: 0.2em !important; 
    border: 0.1em solid #603808 !important; 
    background-color: #603808 !important;
    border-radius: 1em !important;
    margin: 0.3em auto !important;
}





.box-hit {
    background-color: #e7bc91 !important;
    width: 100%;
    border-radius: 2em;
    margin : 2em;
    padding: 1em;
    outline: 6px solid #603808;
    outline-offset: -20px;
    
}

/* titre HIT PRODUITS */
.text-hit h2{
    font-family: 'Abril Fatface', serif;
    font-size: 3em;
    padding: 0.5em;
    color: var(--darkbrown);
}


