{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Vintyle !
{% endblock %}

{% block main %}

	<section class="main-body d-flex justify-content-center">
		<div class="box-promo px-5">
			<div class="text-promo">
				<h2 class="text-center my-4">Notre entreprise</h2>
			</div>

        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque saepe unde, doloribus sed quibusdam temporibus hic eos placeat, incidunt nam minus modi quis voluptas ratione excepturi eligendi, dolor sapiente? Aperiam ullam, autem fugit quia mollitia ipsum inventore blanditiis modi? Explicabo ipsam quas sint sapiente at mollitia similique nam quibusdam ipsa cum. Culpa repudiandae officia, ad a, voluptas, saepe fugit cum harum rem sunt optio perspiciatis illum fugiat ipsa. Quia qui, quisquam libero vero itaque minus ratione velit! Qui in quae ipsum velit odit ullam magni molestias similique ratione aspernatur quod ipsa culpa eius molestiae harum porro, facilis tempore architecto perspiciatis beatae excepturi, enim rerum iusto quis! Saepe fugiat voluptas facilis quia velit distinctio! Est iure, fuga nisi autem unde ab, cum sint laudantium cumque, sunt minus a quia! Laboriosam voluptatibus reiciendis iure, culpa quidem autem dolorem facere ea, inventore cum at temporibus voluptate repellendus consectetur? Esse porro ipsum et neque dolore repellat ipsam hic iste obcaecati nostrum veritatis eveniet explicabo distinctio eius molestias sapiente quia eligendi quaerat adipisci maxime, id numquam repudiandae? Ducimus reiciendis minus amet eaque ab vero consectetur accusantium voluptas quia, rem nobis sint libero corrupti impedit velit, est, nisi quam sed voluptatum commodi ipsam. Molestiae, vitae omnis.
        </p>

		</section>

{% endblock %}
