{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block main %}
<div class="container">
 <div class="row align-items-center">
    
    
{% for item in products %}
<div class="col-4">
 
    
        <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ item.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ item.price }}</h6>
    <p class="card-text">{{ item.description }}</p>
    <a href="" class="btn btn-primary">Acceder à ce produit</a>
  </div>
</div>
</div>
    {% endfor %}
    </div>
    </div>
{% endblock %}
