{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}



{% block main %}

<h2>Categories:</h2>

{% for category in categories %}
   <ul>
       <li><a href="{{ path('app_admin_show_category', {'id': category.id}) }}">{{ category.name }}</a></li>
   </ul>
{% endfor %}

<a href="{{ path('app_admin_create_category') }}" class="btn btn-primary">Créer nouvelle categorie</a>





{% endblock %}