{% extends 'adminBase.html.twig' %}

{% block title %}Create a category{% endblock %}

{% block main %}
   
  <h1>Update Category</h1>

{{ form(form, {'method': 'POST'}) }}
<a href="{{ path('app_admin_list_categories') }}" class="btn btn-primary">Retourner à Categories</a>


{% endblock %}