{% extends 'adminBase.html.twig' %}

{% block main %}

<br>
<h2>
		<a href="{{ path('app_admin_dashboard') }}">Dashboard</a> >
        <a href="{{ path('app_admin_new_admin') }}">New Admin</a>
</h2>
<br>

    {{ form(form, {'method': 'POST'}) }}
{% endblock %}