:root {
  --background: #fff5eb;
  --white: #ffedd8;
  --lightcream: #f3d5b5;
  --cream: #e7bc91;
  --darkcream: #d4a276;
  --lightchestnut: #bc8a5f;
  --chestnut: #a47148;
  --darkchestnut: #8b5e34;
  --lightbrown: #6f4518;
  --brown: #603808;
  --darkbrown: #583101;
  --black: #333333;
  --lightgrey: #888888;
  --darkgrey: #666666;
  --dark:#111111 !important;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Lato", sans-serif;
 
   
   
}
body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}


/**************************HEADER***********************/

header {
  background-color: var(--white);
}
/*****top-navbar***/

.navbar
{
  background-color: var(--darkbrown);
  color: var(--darkcream);
  font-size: 1.1em;
}


.navbar a  {
  color: var(--darkcream);
  font-size: 1.20em;
}
.navbar a:hover {
  color: var(--lightcream);
  font-size: 1.20em;
  text-decoration: none;
}

.navbar-toggler-icon a {
  color:white;
  background-color: #bc8a5f;
}
.navbar-toggler button {
  color:white !important;
  background-color: #bc8a5f !important;
}


.top-nav {
  width: 100%;
  height: 60px;
  background-color: var(--darkbrown);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/***top navbar icon size**/
.top-nav img {
  height: 35px;
  padding-left: 2%;
}


.logo
{
  -webkit-filter: drop-shadow(2px 2px 0 #8b5e34)
  drop-shadow(-2px 2px 0 #8b5e34)
  drop-shadow(2px -2px 0 #8b5e34)
  drop-shadow(-2px -2px 0 #8b5e34);

filter: drop-shadow(2px 2px 0 #8b5e34)
drop-shadow(-2px 2px 0 #8b5e34)
drop-shadow(2px -2px 0 #8b5e34)
drop-shadow(-2px -2px 0 #8b5e34);
}

.cart-icon
{
  height: 30px;
}

/***Home actions***/
.home-actions {
  width: 15%;
  display: flex;
  justify-content: flex-start;
}
.home-actions a {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
/***Account actions***/
.account-actions {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account-actions a {
  width: 95%;
  display: flex;
}
/*gestion position lien*/
.account-actions a:first-of-type {
  justify-content: right;
}
.account-actions a:nth-of-type(2) {
  justify-content: center;
  width: 75%;
}
#signup {
  justify-content: left;
}
.account-actions a:nth-of-type(3) {
  justify-content: left;
}
/**vertical white span between each <a> */
.account-actions span {
  display: block;
  height: 4px;
  width: 10%;
  border-radius: 2px;
  transform: rotate(90deg);
  background-color: #ffffff;
}
/***Cart actions***/
.cart-actions {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}
.cart-actions a {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

/*****mid-navbar***/
.mid-nav {
  height: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.mid-nav img {
  height: 145px;
}

/******BURGER*******/
.icon-hamburger {
  position: relative;
  width: 35px;
  height: 32px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.icon-hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background-color: var(--brown);
}
/*****hamburger fermé***/

.icon-hamburger span:nth-child(1) {
  top: 0%;
  background-color: var(--brown);
}
.icon-hamburger span:nth-child(2) {
  background-color: var(--brown);
  top: 33%;
}
.icon-hamburger span:nth-child(3) {
  top: 66%;
  background-color: var(--brown);
}
/*****hamburger ouvert*****/
.icon-hamburger.open span:nth-child(1) {
  top: 34%;
  transform: rotate(135deg);
  background-color: var(--green2);
}
.icon-hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -50px;
}
.icon-hamburger.open span:nth-child(3) {
  transform: rotate(-135deg);
  background-color: var(--blackl);
  top: 34%;
}
.script-hamburger {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  background: none;
}

/**************************FOOTER***********************/

footer, footer p
{
  background-color: var(--darkbrown);
  color: var(--darkchestnut);
  font-size: 1.1em;
}
/**text color**/
footer a {
  color: var(--darkchestnut);
  font-size: 1em;
}
footer a:hover {
  color: var(--lightchestnut);
  font-size: 1em;
  text-decoration: none;
}
.copyright a, .container p {
  color: var(--darkchestnut);
  font-size: 0.9em;
}
.copyright a:hover {
  color: var(--lightchestnut);
  font-size: 0.9em;
  text-decoration: none;
}
footer h2 {
  font-weight: 700;
  font-size: 1.25em;
}

.ulfooter
{padding:0;}


.card
{
  background: rgba( 231, 188, 145, 0.25 ) !important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
  backdrop-filter: blur( 9px ) !important;
  -webkit-backdrop-filter: blur( 9px ) !important;
  border-radius: 10px !important;
  border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}

.card-body
{
  background: transparent;
}