:root {
  --background: #fff5eb;
  --white: #ffedd8;
  --lightcream: #f3d5b5;
  --cream: #e7bc91;
  --darkcream: #d4a276;
  --lightchestnut: #bc8a5f;
  --chestnut: #a47148;
  --darkchestnut: #8b5e34;
  --lightbrown: #6f4518;
  --brown: #603808;
  --darkbrown: #583101;
  --black: #333333;
  --lightgrey: #888888;
  --darkgrey: #666666;
  --dark: #111111 !important;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Lato", sans-serif;
<<<<<<< HEAD

   
   
=======
>>>>>>> NewMain
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}

/**************************HEADER***********************/

header {
  background-color: var(--white);
}
/*****top-navbar***/

.navbar {
  background-color: var(--darkbrown);
  color: var(--darkcream);
  font-size: 1.1em;
}

.navbar a {
  color: var(--darkcream);
  font-size: 1.2em;
}
.navbar a:hover {
  color: var(--lightcream);
  font-size: 1.2em;
  text-decoration: none;
}

.navbar-toggler-icon {  
  border-radius: 5px !important;
}

.navbar-toggler button {  
  border:0px;
}

.top-nav {
  width: 100%;
  height: 60px;
  background-color: var(--darkbrown);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/***top navbar icon size**/
.top-nav img {
  height: 35px;
  padding-left: 2%;
}

.logo {
  -webkit-filter: drop-shadow(2px 2px 0 #8b5e34) drop-shadow(-2px 2px 0 #8b5e34)
    drop-shadow(2px -2px 0 #8b5e34) drop-shadow(-2px -2px 0 #8b5e34);

  filter: drop-shadow(2px 2px 0 #8b5e34) drop-shadow(-2px 2px 0 #8b5e34)
    drop-shadow(2px -2px 0 #8b5e34) drop-shadow(-2px -2px 0 #8b5e34);
}

.cart-icon {
  height: 30px;
}

/***Home actions***/
.home-actions {
  width: 15%;
  display: flex;
  justify-content: flex-start;
}
.home-actions a {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
/***Account actions***/
.account-actions {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account-actions a {
  width: 95%;
  display: flex;
}
/*gestion position lien*/
.account-actions a:first-of-type {
  justify-content: right;
}
.account-actions a:nth-of-type(2) {
  justify-content: center;
  width: 75%;
}
#signup {
  justify-content: left;
}
.account-actions a:nth-of-type(3) {
  justify-content: left;
}
/**vertical white span between each <a> */
.account-actions span {
  display: block;
  height: 4px;
  width: 10%;
  border-radius: 2px;
  transform: rotate(90deg);
  background-color: #ffffff;
}
/***Cart actions***/
.cart-actions {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}
.cart-actions a {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

/*****mid-navbar***/
.mid-nav {
  height: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.mid-nav img {
  height: 145px;
}

/******BURGER*******/
/* .icon-hamburger {
  position: relative;
  width: 35px;
  height: 32px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.icon-hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background-color: var(--brown);
} */
/*****hamburger fermé***/

/* .icon-hamburger span:nth-child(1) {
  top: 0%;
  background-color: var(--brown);
}
.icon-hamburger span:nth-child(2) {
  background-color: var(--brown);
  top: 33%;
}
.icon-hamburger span:nth-child(3) {
  top: 66%;
  background-color: var(--brown); */
/* } */
/*****hamburger ouvert*****/
/* .icon-hamburger.open span:nth-child(1) {
  top: 34%;
  transform: rotate(135deg);
  background-color: var(--green2);
}
.icon-hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -50px;
}
.icon-hamburger.open span:nth-child(3) {
  transform: rotate(-135deg);
  background-color: var(--blackl);
  top: 34%;
}
.script-hamburger {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  background: none;
<<<<<<< HEAD
}
/**************************MAIN*************************/

section{
  background-color:#ffedd8;
}


.box{
  background-color: #e7bc91 !important;
  width: 100%;
  border-radius: 2em;
  padding: 1em 3em 0.5em 1em;
  outline: 6px solid #603808;
  outline-offset: -20px;
}

h2{
  font-family: 'Abril Fatface', serif;
  font-size: 3em;
  padding: 0.5em;
}

/**** PAGE HOME ****/



/**** PAGE FICHE PRODUIT ****/

/* onglet produit + bouton Retour */



.bouton-retour .btn{
  font-family: 'Abril Fatface', serif;
  font-size: 1.5em;
  background-color: #BC8A5F !important;
  border: 0.1em solid #603808 !important;
  color: #603808 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  margin: 1em;
  display: flex;
  justify-content: center;
}
.bouton-retour .btn:hover {
  font-family: 'Abril Fatface', serif;
  background-color: #BC8A5F !important;
  border: 0.1em solid #603808 !important;
  color: #e7bc91 !important;
  box-shadow: 0 9px 16px rgba(0, 0, 0, 0.1) !important;
  display: flex;
  justify-content: center;
  cursor: url('/asset/img/vinylecursor.png'), pointer !important;
}

/* style fiche Produit */
    /* marge image */
.card-img-top{
  margin: 1em;
}
    /* texte à droite */
.box .col-md-6:last-child {
  margin-top: 1em;
}

h3 {
  background-color: #ffedd8;
  border: 0.1em solid #603808 !important;
  border-radius: 0.5em;
  font-family: 'Abril Fatface', serif;
  font-size: 2em;
  display: inline-block;
  padding: 0.5em;
}

    /* bouton PANIER */
.panier-container{
  background-color: #ffedd8;
  border: 0.2em solid #603808 !important;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 1em;
}

.btn-count{
  font-size: 1em;
  margin: 0.2em;
  background-color: #603808;
  color: #ffedd8;
  padding: 0.5em;
}

.btn{
  font-family: 'Abril Fatface', serif;
  font-size: 1.5em;
  background-color: #BC8A5F !important;
  border: 0.1em solid #603808 !important;
  color: #603808 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}
.btn:hover {
  font-family: 'Abril Fatface', serif;
  background-color: #BC8A5F !important;
  border: 0.1em solid #603808 !important;
  color: #e7bc91 !important;
  box-shadow: 0 9px 16px rgba(0, 0, 0, 0.1) !important;
  cursor: url('/asset/img/vinylecursor.png'), pointer !important;
}

.panier-container .img {
  width: 2em; /* Ajustez la taille de l'image selon vos besoins */
  margin-left: 0.5em;
 
}









=======
} */
>>>>>>> NewMain

/**************************FOOTER***********************/

footer,
footer p {
  background-color: var(--darkbrown);
  color: var(--darkchestnut);
  font-size: 1.1em;
}
/**text color**/
footer a {
  color: var(--darkchestnut);
  font-size: 1em;
  text-decoration: none;
}
footer a:hover {
  color: var(--lightchestnut);
  font-size: 1em;
  text-decoration: none;
}
.copyright a,
.container p {
  color: var(--darkchestnut);
  font-size: 0.9em;
}
.copyright a:hover {
  color: var(--lightchestnut);
  font-size: 0.9em;
  text-decoration: none;
}
footer h2 {
  font-weight: 700;
  font-size: 1.25em;
}

.ulfooter {
  padding: 0;
}

.card {
  background: rgba(231, 188, 145, 0.20) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25) !important;
  backdrop-filter: blur(9px) !important;
  -webkit-backdrop-filter: blur(9px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.card-body {
  background: transparent;
}


/************************** EX STYLE CSS ***********************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Style du main */
.main-body {
  background-color: #ffedd8;
  padding: 2em;
}

/* Style du box-promo */
.box-promo {
  background-color: #e7bc91;
  width: 100%;
  border-radius: 2em;
  margin: 2em;
  padding: 2em;
  outline: 6px solid #603808;
  outline-offset: -20px;
  background-image: url('../uploads/planches.jpg');
  background-size: cover;
}


/* Style 2e box avec bordure marron */
.container-custom {
  background-color: #e7bc91 !important;
  border: 0.4em solid #603808 !important;
  border-radius: 1em !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* titre Promo */
.text-promo h2 {
  font-family: "Abril Fatface", serif;
  font-size: 3em;
  padding-left: 0.5em;
  width: 100%;
  color: var(--darkbrown);
}

.text-promo h1 {
  font-family: "Abril Fatface", serif;
  font-size: 3em;
  padding-left: 0.5em;
  width: 100%;
  color: var(--darkbrown);
}

/* Style des cartes */

/* Style de la carte individuelle */
.card {
  width: 100% !important;
  margin: 0 !important;

  padding: 2em !important;
  border: 0.1em solid #603808 !important;
  /*     background-color: #e7bc91 !important; */

  background: rgba(231, 188, 145, 0.25) !important;
  box-shadow: 0 4px 30px 0 #bc8a5f !important;
  backdrop-filter: blur(9px) !important;
  -webkit-backdrop-filter: blur(9px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}
/* Style pour l'onglet promo */
.card-img-top {
  position: relative;
  object-fit: cover;
  min-height: 250px;
  max-height: 450px;
}
/* .image-promo {
  width: 30%;
  height: auto;
  position: absolute;
  right: 2em;
  z-index: 1;
}
 */
/* Style du bouton dans la carte */
.card-body .bouton {
  background-color: #bc8a5f !important;
  border: 0.1em solid #603808 !important;
  color: #603808 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  display: flex;
  justify-content: center;
}

.card-body .bouton:hover {
  background-color: #bc8a5f !important;
  border: 0.1em solid #603808 !important;
  color: #e7bc91 !important;
  box-shadow: 0 9px 16px rgba(0, 0, 0, 0.1) !important;
  display: flex;
  justify-content: center;
}

.hr {
  border: none !important;
  width: 50% !important;
  height: 0.2em !important;
  border: 0.1em solid #603808 !important;
  background-color: #603808 !important;
  border-radius: 1em !important;
  margin: 0.3em auto !important;
}

.box-hit {
  background-color: #e7bc91 !important;
  width: 100%;
  border-radius: 2em;
  margin: 2em;
  padding: 2em;
  outline: 6px solid #603808;
  outline-offset: -20px;
  background-image: url('../uploads/planches.jpg');
  background-size: cover;
}

.oldprice
{
  text-decoration:line-through;
}

/* titre HIT PRODUITS */
.text-hit h2 {
  font-family: "Abril Fatface", serif;
  font-size: 3em;
  padding: 0.5em;
  color: var(--darkbrown);
}


/* Nouveau burger menu */

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color:#bc8a5f;
  margin: 5px 4px;
  transition: 0.4s;
}

/* accordion */

.accordion-item, .accordion-button, .accordion-header
{
  background-color: transparent !important;
}


