body {
  background: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}

.card,
table {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

h2,
.card-title {
  background: -webkit-linear-gradient(#999, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav, tr {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 5px;
  box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.8) inset,
    3px 5px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 10px;
}

nav > a {
  color: #666;
  text-decoration: none;
}
nav > a:hover {
  color: #000;
}

.vignette
{
  max-width: 300px !important;
}